---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFFFFF !default;
$header-bg-color: #FFFFFF;
$header-bg-color-secondary: #6676FC;

// Text
$section-headings-color: #6676FC;
$body-text-color: #272727 !default;
$body-link-color: #F01974 !default;
$blockquote-text-color: #6676FC !default;

// Code
$code-bg-color: #272727 !default;
$code-text-color: #FFFFFF !default;

// Borders
$border-color: #272727 !default;
$table-border-color: #717171 !default;
$hr-border-color: #BBBBBB !default;


@import "{{ site.theme }}";

.project-name {
  font-size: 300%;
  width: auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: 0 0 8px #272727, 0 0 10px #272727;
  vertical-align: middle;
}

.page-header {
  width: auto;
  height: 200px;
  padding: 0px;
  background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/assets/img/HEADER.png);
  background-size: cover;
}

.body { 
  width: 100%;
  height: auto;
}

.button {
color: #FFFFFF;
border-color: #F01974;
background-color: #F01974;
font-size: 100%;
border-radius: 20px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
opacity: 0.7;
text-align: center;
height: 500px;
float: left; /* Float the buttons side by side */
}

.button:after {
  content: "";
  clear: both;
  display: table;
}

.site-footer {
  height: auto;
  width: auto;
  background-image: linear-gradient(to top, #272727 0%, #FFFFFF 100%);
}
