---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFFFFF !default;
$header-bg-color: rgba(0, 0, 0, 0);
$header-bg-color-secondary: rgba(0, 0, 0, 0);

// Text
$section-headings-color: #6676FC;
$body-text-color: #272727 !default;
$body-link-color: #FF4545 !default;
$blockquote-text-color: #6676FC !default;

// Code
$code-bg-color: #272727 !default;
$code-text-color: #FFFFFF !default;

// Borders
$border-color: #272727 !default;
$table-border-color: #717171 !default;
$hr-border-color: #BBBBBB !default;


@import "{{ site.theme }}";

body {
    background-color: #000000;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/assets/img/HEADER.png);
    background-size: cover;
    background-position: top center; /* Aligns the image at the top */
    background-attachment: fixed; /* Fixes the image in place when scrolling */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100%; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.project-name {
  width: auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: 0 0 8px #272727, 0 0 10px #272727;
  vertical-align: middle;
}

.page-header {
  width: 100%;
  height: auto;
  padding: 0px;
}

.big-title {
    font-size: 300%; /* Large font for the main title */
    font-weight: bold;
}

.small-text {
    font-size: 16px; /* Smaller font for the rest */
}

.github-button {
  position: absolute; /* Positioned relative to its normal position */
  top: 50px; /* Moves the element down 10px */
  right: 50px;
}

.github-button img {
    width: 50px; /* Adjust size */
    height: 50px;
}

.button {
display: flex;
color: #FFFFFF;
border-color: #FF4545;
background-color: #FFFFFF;
font-size: 120%;
border-radius: 20px;
text-shadow: 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727, 0 0 10px #272727;
box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6), 0 12px 40px 0 rgba(0,0,0,0.19);
opacity: 1.0;
text-align: center;
align-items: center;
height: 500px;
width: 20%;
float: left; /* Float the buttons side by side */
padding: 50px;
}

.button:hover {
color: #272727;
text-decoration: none;
border-color: #FF4545;
background-color: #FFFFFF;
font-size: 120%;
border-radius: 20px;
text-shadow: 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545, 0 0 10px #FF4545;
box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6), 0 12px 40px 0 rgba(0,0,0,0.19);
text-align: center;
align-items: center;
justify-content: center; 
height: 500px;
width: 20%;
float: left; /* Float the buttons side by side */
padding: 50px;
}

#button1 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/3D_CLUSTERING_PCA.png);
    background-size: cover;
    background-position: center;
}

#button2 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/CP2K_PREP_QMMM.png);
    background-size: cover;
    background-position: center;
}

#button3 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/CP2K_TUTORIAL_NEB.png);
    background-size: cover;
    background-position: center;
}

#button4 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/CP2K_TUTORIAL_US.png);
    background-size: cover;
    background-position: center;
}

#button5 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/CP2K_DEL_RESIDUES.png);
    background-size: cover;
    background-position: center;
}

#button6 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/CP2K_MACRODIPOLE.png);
    background-size: cover;
    background-position: center;
}

#button7 {
    width: 20%;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/arvpinto/arvpinto.github.io/main/artwork/GO_ARCHIVE.png);
    background-size: cover;
    background-position: center;
}

.button:after {
  width: 200%;
  content: "";
  clear: both;
  display: table;
  align-items: center;
}
