<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="red">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <center>
      <br>
      <br>
      <h2 class="project-name big-title">
          <i>CompBioChem Tutorials</i>
      </h2>
      <br> <br>
      <h5 class="project-name small-text">
          <i>Alexandre V. Pinto, PhD in Chemistry</i>
      </h5>
      <h5 class="project-name small-text">
          <i>University of Porto</i>
      </h5>
      <br>
      <br>
        <center>
    <a href="https://github.com/arvpinto?tab=repositories" class="github-button" target="_blank">
            <img src="https://github.com/arvpinto/arvpinto.github.io/blob/main/assets/img/GitHub-Mark.png" alt="GitHub" />
    </a>
    </header>
      <div class="btn-group">
      <a href="https://arvpinto.github.io/enzyme_ts_deletion_cp2k" class="button" id="button1"><b>CP2K Tutorial</b> <br> Transition State Macrodipole _________________ Residue Deletion</a>
      <a href="https://arvpinto.github.io/enzyme_neb_cp2k" class="button" id="button2"><b>CP2K Tutorial</b> <br> Static QM/MM</a>
      <a href="https://arvpinto.github.io/enzyme_us_cp2k" class="button" id="button3"><b>CP2K Tutorial</b> <br> Dynamic QM/MM</a>
      <a href="https://github.com/arvpinto/GO_sheets" class="button" id="button4"><b>Archive</b> <br> Graphene Oxide Structures</a>
      <a href="https://arvpinto.github.io/3D_clustering_PCA" class="button" id="button5"><b>Archive</b> <br> 3D Clustering of PCA vectors</a>
      </div>
  </body>
